/.vscode/
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
local*.tfvars
local*.ini
/ipxe/
/disk.img
/disk.img-*
/.venv/
/.ipynb_checkpoints/
boot.log
Untitiled*
