---
defaultnode:
  runtime overlay:
  - generic
  system overlay:
  - wwinit
  kernel:
    args: console=ttyS0 crashkernel=no net.naming-scheme=v238
  init: /sbin/init
  root: initramfs
  ipxe template: default
  profiles:
  - default
  network devices:
    default:
      netmask: 255.255.0.0
    dummy:
      device: eth0
      type: ethernet
      netmask: 255.255.0.0
