- name: Build Node Image
  hosts: head
  become: true
  tasks:
    - name: Generate compute node image
      environment:
        container: "{{ warewulf_container }}"
      args:
        creates: /var/lib/warewulf/provision/images/nodeimage.img.gz
      register: image_result
      ansible.builtin.shell: |-
        set -e -x

        ## Config
        sms_ip=10.5.0.8
        : ${container:=docker://ghcr.io/warewulf/warewulf-rockylinux:9}

        ## Remove old image
        wwctl profile set nodes --yes --image=UNDEF || /bin/true
        wwctl image delete nodeimage --yes || /bin/true

        ## Import node image from container
        wwctl image import $container nodeimage --syncuser

        ## Configure profile
        wwctl profile set --yes nodes --image=nodeimage
        wwctl profile set --yes nodes --kernelargs='console=tty0,"console=ttyS0,115200",systemd.log_color=0,rd.shell'
        wwctl profile set --yes nodes --netname=default --netdev=eth0

        ## Configure image
        wwctl image exec nodeimage /bin/bash << EXEC
        # --------------------------------------------------------------------
        set -e -x
        set -o pipefail
        export LANG=C.UTF-8

        ## Setup base OS
        dnf install -y dnf-plugins-core
        dnf config-manager --set-enabled crb
        dnf install -y epel-release
        dnf install -y --allowerasing python3 ca-certificates procps wget curl unzip jq passwd

        ## Update Image
        dnf upgrade -y

        ## Remove old kernels
        dnf repoquery --installonly --latest-limit=-1 -q | xargs dnf remove -y

        ## Debug
        passwd -d root # allow serial console login

        ## Install compute node packages
        dnf install -y slurm-slurmd munge chrony

        ## Enable services
        systemctl enable munge
        systemctl enable slurmd

        ## Configure node
        echo "server ${sms_ip} iburst" >> /etc/chrony.conf
        echo SLURMD_OPTIONS="--conf-server ${sms_ip}" > /etc/sysconfig/slurmd

        ## Extras
        dnf install -y Lmod

        ## Cleanup
        rm -vf /boot/initramfs-*.img
        dnf clean all

        # --------------------------------------------------------------------
        EXEC

    - name: Configure Dracut
      when:
        - warewulf_dracut
      args:
        creates: /var/lib/warewulf/chroots/nodeimage/rootfs/boot/initramfs-*.img
      ansible.builtin.shell: |-
        set -e -x

        ## Install yq (FIXME: need to find a better way to get yq)
        dnf install -y https://rpmfind.net/linux/fedora/linux/updates/39/Everything/x86_64/Packages/y/yq-4.43.1-2.fc39.x86_64.rpm

        ## Config dracut boot
        wwctl profile set --yes nodes --tagadd IPXEMenuEntry=dracut

        wwctl node set --yes c1 \
          --diskname /dev/vda \
          --partname EFI --partcreate --partnumber 1 --partsize=4096

        ## FIXME: get these into `wwctl node set` command
        yq -i '.nodes.c1.disks./dev/vda.partitions.EFI.start_mib=1' /etc/warewulf/nodes.conf
        yq -i '.nodes.c1.disks./dev/vda.partitions.EFI.size_mib=2' /etc/warewulf/nodes.conf
        yq -i '.nodes.c1.disks./dev/vda.partitions.EFI.type_guid="C12A7328-F81F-11D2-BA4B-00A0C93EC93B"' /etc/warewulf/nodes.conf

        wwctl node set --yes c1 \
          --diskname /dev/vda \
          --partname rootfs --partcreate --partnumber 2 \
          --fsname rootfs --fswipe --fsformat ext4 --fspath /
        wwctl node set c1 --yes --root=/dev/disk/by-partlabel/rootfs

        ## Create initramfs
        wwctl image exec --build=false nodeimage -- /usr/bin/dnf install -y dracut-network dmidecode
        cp -av /usr/src/warewulf/dracut/modules.d $(wwctl image show nodeimage)/usr/lib/dracut/

        ## Build image and overlay
        wwctl image exec nodeimage -- \
          /usr/bin/dracut --verbose --force --no-hostonly --regenerate-all --add wwinit \
          --install sfdisk --install blockdev --install udevadm --install mkfs --install mkfs.ext4  --install wipefs
        wwctl overlay build
