- name: Configure OHPC head node
  hosts: head
  become: true
  tasks:
    - name: Change hostname
      ansible.builtin.hostname:
        name: head
        use: systemd

    - name: Configure internal interface
      ansible.builtin.template:
        owner: root
        group: root
        mode: "600"
        src: templates/enp0s2.nmconnection.j2
        dest: /etc/NetworkManager/system-connections/ifcfg-enp0s2.nmconnection
      register: networkmanager_enp0s2

    - name: Reload NetworkManager
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: NetworkManager.service
        enabled: true
        state: restarted
      when: networkmanager_enp0s2.changed

    - name: Check if firewalld is installed
      ansible.builtin.package_facts:

    - name: Stop and disable firewall
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: firewalld.service
        enabled: false
        state: stopped
      when: "'firewalld' in ansible_facts.packages"

    - name: Add head to /etc/hosts
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: "10.5.0.8    head.localdomain head"

    - name: Add EPEL
      ansible.builtin.dnf:
        name: epel-release

    - name: Install OHPC release
      ansible.builtin.dnf:
        name: http://repos.openhpc.community/OpenHPC/4/EL_10/{{ ansible_architecture }}/ohpc-release-4-1.el10.{{ ansible_architecture }}.rpm
        disable_gpg_check: true

    - name: Install base packages
      ansible.builtin.dnf:
        name:
          - bash-completion
          - vim

    - name: Add OpenHPC Release Factory (4.0)
      ansible.builtin.yum_repository:
        name: openhpc-factory
        description: OpenHPC Factory Repository
        baseurl: http://obs.openhpc.community:82/OpenHPC4:/4.0:/Factory/EL_10/
        enabled: "{{ ohpc_factory | bool }}"
        gpgcheck: false

    - name: Install OHPC base
      ansible.builtin.dnf:
        name:
          - ohpc-base
          - ohpc-slurm-client
          - ohpc-slurm-server
          - chrony
          - jq
          - yq
          - initscripts-service # AlmaLinux

    - name: Install Warewulf (OHPC)
      when: ohpc_warewulf
      ansible.builtin.dnf:
        name:
          - warewulf-ohpc

    - name: Install Warewulf (Direct)
      when: not ohpc_warewulf
      ansible.builtin.dnf:
        name:
          - "{{ ohpc_warewulf_rpm }}"
        disable_gpg_check: true

    - name: Add head localnet to chrony
      ansible.builtin.lineinfile:
        path: /etc/chrony.conf
        line: "allow 10.5.0.0/16"
      register: chrony_conf

    - name: Restart chrony
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: chronyd.service
        enabled: true
        state: restarted
      when: chrony_conf.changed

    - name: Setup the head node
      # noqa: command-instead-of-module
      environment:
        container: "{{ ohpc_container }}"
      ansible.builtin.shell: |-
        set -e -x
        set -o pipefail

        : ${container:=docker://ghcr.io/warewulf/warewulf-rockylinux:10}

        sms_name=head
        sms_ip=10.5.0.8
        internal_network=10.5.0.0
        internal_netmask=255.255.0.0
        ipv4_gateway=10.5.0.1
        dns_servers=8.8.8.8
        dhcp_start=10.5.1.1
        dhcp_end=10.5.1.254

        ## Cleanup failed setup
        wwctl profile delete nodes || true
        wwctl image delete --yes nodeimage || true
        userdel --remove auser || true

        ## Configure warewulf.conf
        ## FIXME: remove "systemd name" after OpenHPC Warewulf update
        yq e '
          .warewulf["systemd name"] = "warewulfd" |
          .ipaddr = "'${sms_ip}'" |
          .netmask = "'${internal_netmask}'" |
          .network = "'${internal_network}'" |
          .dhcp["range start"] = "'${dhcp_start}'" |
          .dhcp["range end"] = "'${dhcp_end}'"' \
          -i /etc/warewulf/warewulf.conf

        ## FIXME: Configure dnsmasq
        dnf install -y policycoreutils-python-utils
        install -dpv /var/lib/tftpboot
        semanage fcontext -a -t public_content_t "/var/lib/tftpboot(/.*)?"
        restorecon -R -v /var/lib/tftpboot
        sms_eth_internal=$(ip -j addr show to ${internal_network}/${internal_netmask} | jq -r '.[].ifname')
        echo "interface=${sms_eth_internal}" > /etc/dnsmasq.d/ww4-interface.conf

        ## Warewulf
        wwctl configure --all
        bash /etc/profile.d/ssh_setup.sh # setup ssh

        ## Slurm
        cp /etc/slurm/slurm.conf.ohpc /etc/slurm/slurm.conf
        cp /etc/slurm/cgroup.conf.example /etc/slurm/cgroup.conf

        perl -pi -e "s/SlurmctldHost=\S+/SlurmctldHost=${sms_name}/" /etc/slurm/slurm.conf
        perl -pi -e 's/^NodeName=c\[1-4\].*$/NodeName=c[1-4] State=UNKNOWN/' /etc/slurm/slurm.conf
        perl -pi -e 's/^PartitionName=.*$/PartitionName=normal Nodes=c[1-4] Default=YES/' /etc/slurm/slurm.conf

        ## Start head node services
        systemctl enable --now warewulfd
        systemctl enable --now munge
        systemctl enable --now slurmctld

        ## Import node image
        wwctl image import ${container} nodeimage --syncuser

        ## Create "nodes" profile and inherit settings from the "default" profile
        wwctl profile add nodes --profile=default --comment="Nodes profile"

        ## Configure "default" network (netname) for "nodes" profile
        wwctl profile set --yes nodes --netname=default --netmask=${internal_netmask} --gateway=${ipv4_gateway} --nettagadd=DNS=${dns_servers}

        ## Update kernel args for debug messages
        yq e '.nodeprofiles.default.kernel.args -= ["quiet"]' \
          -i /etc/warewulf/nodes.conf

        ## Create a test user
        useradd --create-home --shell=/bin/bash --user-group auser

        touch /root/head.stamp

      args:
        creates: /root/head.stamp

- name: Setup compute nodes
  hosts: head
  become: true
  tasks:
    - name: Generate compute node image
      args:
        creates: /root/configure-node-image.stamp
      register: image_result
      ansible.builtin.shell: |-
        set -e -x
        set -o pipefail

        sms_ip=10.5.0.8
        arch=$(uname -m)

        ## Configure image
        wwctl image exec nodeimage /bin/bash << EXEC
        ## --------------------------------------------------------------------
        set -e -x
        export LANG=C.UTF-8

        dnf install -y dnf-plugins-core
        dnf config-manager --set-enabled crb
        dnf install -y epel-release

        dnf upgrade -y
        dnf install -y kernel passwd
        dnf repoquery --installonly --latest-limit=-1 -q | xargs dnf remove -y

        passwd -d root # allow serial console login

        dnf install -y http://repos.openhpc.community/OpenHPC/4/EL_10/${arch}/ohpc-release-4-1.el10.${arch}.rpm

        {% if ohpc_factory | default(false) %}
        dnf config-manager --add-repo http://obs.openhpc.community:82/OpenHPC4:/4.0:/Factory/EL_10/
        rpm --import http://obs.openhpc.community:82/OpenHPC4:/4.0:/Factory/EL_10/repodata/repomd.xml.key
        {% endif %}

        dnf install -y ohpc-base-compute hwloc-ohpc
        dnf install -y ohpc-slurm-client

        dnf install -y chrony
        echo "server ${sms_ip} iburst" >> /etc/chrony.conf

        systemctl enable munge.service

        echo SLURMD_OPTIONS="--conf-server ${sms_ip}" > /etc/sysconfig/slurmd
        systemctl enable slurmd.service

        dnf install -y lmod-ohpc

        dnf clean all
        ## --------------------------------------------------------------------
        EXEC

        ## Create node munge overlay
        wwctl overlay create munge
        wwctl overlay mkdir munge --mode 0700 /etc/munge
        wwctl overlay import munge /etc/munge/munge.key
        wwctl overlay chown munge /etc/munge/munge.key $(id -u munge) $(id -g munge)
        wwctl overlay chown munge /etc/munge $(id -u munge) $(id -g munge)

        ## Add munge to nodes
        wwctl profile set --yes nodes --system-overlays munge --runtime-overlays syncuser

        ## Set as default image and set kernel args
        wwctl profile set --yes nodes --image nodeimage
        wwctl profile set --yes nodes --kernelargs='"console=ttyS0,115200",systemd.log_color=0,crashkernel=no,vga=791,rd.shell'

        touch /root/configure-node-image.stamp

    - name: Provision to disk
      when:
        - ohpc_dracut_disk
      args:
        creates: /var/lib/warewulf/chroots/nodeimage/rootfs/boot/initramfs-*.img
      environment:
        node_disk: /dev/vda
      ansible.builtin.shell: |-
        set -e -x
        set -o pipefail

        ## Config
        : ${node_disk:=/dev/vda}
        CHROOT=$(wwctl image show nodeimage)

        ## Install Dracut in the image
        wwctl image exec --build=false nodeimage -- /usr/bin/dnf install -y warewulf-ohpc-dracut ignition gdisk

        ## Configure Dracut.  Note the leading and trailing spaces in the quotes for 'add_dracutmodules'.
        echo 'hostonly="no"' > $CHROOT/etc/dracut.conf.d/wwinit.conf
        echo 'add_dracutmodules+=" wwinit ignition "' >> $CHROOT/etc/dracut.conf.d/wwinit.conf

        ## Create initramfs
        wwctl image exec nodeimage -- /usr/bin/dracut --force --regenerate-all

        ## Setup two-stage boot disks (Dracut)
        wwctl profile set --yes nodes --tagadd IPXEMenuEntry=dracut

        ## Create UEFI partition
        wwctl profile set --yes nodes \
          --diskname ${node_disk} --diskwipe \
          --partname EFI --partcreate --partnumber 1 --partsize=2 --parttype=C12A7328-F81F-11D2-BA4B-00A0C93EC93B \
          --fsname EFI --fswipe --fsformat vfat --fspath /boot/efi

        ## Create the target "rootfs" partition and filesystem
        wwctl profile set --yes nodes \
          --diskname ${node_disk} --diskwipe \
          --partname rootfs --partcreate --partnumber 2 \
          --fsname rootfs --fswipe --fsformat ext4 --fspath /

        # Enable two-stage boot (Dracut)
        # wwctl profile set nodes --yes --root=/dev/disk/by-partlabel/rootfs
