- name: Configure OHPC head node
  hosts: head
  become: true
  tasks:
    - name: Change hostname
      ansible.builtin.hostname:
        name: head
        use: systemd

    - name: Configure internal interface
      ansible.builtin.template:
        owner: root
        group: root
        mode: "600"
        src: templates/enp0s2.nmconnection.j2
        dest: /etc/NetworkManager/system-connections/ifcfg-enp0s2.nmconnection
      register: networkmanager_enp0s2

    - name: Reload NetworkManager
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: NetworkManager.service
        enabled: true
        state: restarted
      when: networkmanager_enp0s2.changed

    - name: Check if firewalld is installed
      ansible.builtin.package_facts:

    - name: Stop and disable firewall
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: firewalld.service
        enabled: false
        state: stopped
      when: "'firewalld' in ansible_facts.packages"

    - name: Add head to /etc/hosts
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: "10.5.0.8    head.localdomain head"

    ## FIXME: unreleased
    # - name: Install OHPC release
    #   ansible.builtin.dnf:
    #     name: http://repos.openhpc.community/OpenHPC/4/EL_10/{{ ansible_architecture }}/ohpc-release-4-1.el10.{{ ansible_architecture }}.rpm
    #     disable_gpg_check: true

    - name: Add OpenHPC Release Factory (4.0)
      ansible.builtin.yum_repository:
        name: openhpc-factory
        description: OpenHPC Factory Repository
        baseurl: http://obs.openhpc.community:82/OpenHPC4:/4.0:/Factory/EL_10/
        enabled: "{{ ohpc_factory | bool }}"
        gpgcheck: false

    - name: Install OHPC base
      ansible.builtin.dnf:
        ## FIXME: broken or can be removed
        name:
          # - ohpc-base
          - ohpc-slurm-client
          - ohpc-slurm-server
          # - hwloc-ohpc
          - chrony
          - jq
          # - mtools
          # - initscripts-service # AlmaLinux

    - name: Install Warewulf (OHPC)
      when: ohpc_warewulf
      ansible.builtin.dnf:
        name:
          - warewulf-ohpc

    - name: Install Warewulf (Direct)
      when: not ohpc_warewulf
      ansible.builtin.dnf:
        name:
          - "{{ ohpc_warewulf_rpm }}"
        disable_gpg_check: true

    - name: Add head localnet to chrony
      ansible.builtin.lineinfile:
        path: /etc/chrony.conf
        line: "allow 10.5.0.0/16"
      register: chrony_conf

    - name: Restart chrony
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: chronyd.service
        enabled: true
        state: restarted
      when: chrony_conf.changed

    - name: Setup the head node
      # noqa: command-instead-of-module
      ansible.builtin.shell: |-
        set -e -x
        set -o pipefail

        sms_name=head
        sms_ip=10.5.0.8
        internal_network=10.5.0.0
        internal_netmask=255.255.0.0
        ipv4_gateway=10.5.0.1
        dns_servers=8.8.8.8
        dhcp_start=10.5.1.1
        dhcp_end=10.5.1.254
        sms_eth_internal=enp0s2

        ## Cleanup failed setup
        wwctl profile delete nodes || true
        wwctl image delete --yes rocky-10 || true
        userdel --remove auser || true

        ## FIXME: yq
        dnf install -y https://kojipkgs.fedoraproject.org/packages/yq/4.43.1/5.fc40/aarch64/yq-4.43.1-5.fc40.aarch64.rpm

        ## Configure warewulf.conf
        yq -i /etc/warewulf/warewulf.conf --from-file /dev/stdin <<EOF
          .ipaddr = "${sms_ip}" |
          .netmask = "${internal_netmask}" |
          .network = "${internal_network}" |
          .dhcp["template"] = "static" |
          .dhcp["range start"] = "${dhcp_start}" |
          .dhcp["range end"] = "${dhcp_end}" |
          .dhcp["systemd name"] = "dnsmasq" |
          .tftp["systemd name"] = "dnsmasq" |
          .ssh["key types"] -= ["dsa"]
        EOF

        ## Warewulf
        wwctl configure --all
        bash /etc/profile.d/ssh_setup.sh # setup ssh

        ## Configure dnsmasq
        echo "interface=${sms_eth_internal}" > /etc/dnsmasq.d/ww4-interface.conf

        ## FIXME: missing arm64 ipxe
        install -dvp /var/lib/tftpboot/warewulf/arm64-efi
        cp -v /usr/share/ipxe/arm64-efi/snponly.efi /var/lib/tftpboot/warewulf/arm64-efi/snponly.efi

        ## Slurm
        cp /etc/slurm/slurm.conf.ohpc /etc/slurm/slurm.conf
        cp /etc/slurm/cgroup.conf.example /etc/slurm/cgroup.conf

        perl -pi -e "s/SlurmctldHost=\S+/SlurmctldHost=${sms_name}/" /etc/slurm/slurm.conf
        perl -pi -e 's/^NodeName=c\[1-4\].*$/NodeName=c[1-4] State=UNKNOWN/' /etc/slurm/slurm.conf
        perl -pi -e 's/^PartitionName=.*$/PartitionName=normal Nodes=c[1-4] Default=YES/' /etc/slurm/slurm.conf

        ## Start head node services
        systemctl enable --now warewulfd
        systemctl enable --now munge
        systemctl enable --now slurmctld

        ## Import node image
        wwctl image import docker://ghcr.io/warewulf/warewulf-rockylinux:10 rocky-10 --syncuser

        ## Create "nodes" profile and inherit settings from the "default" profile
        wwctl profile add nodes --profile=default --comment="Nodes profile"

        ## Configure "default" network (netname) for "nodes" profile
        wwctl profile set --yes nodes --netname=default --netmask=${internal_netmask} --gateway=${ipv4_gateway} --nettagadd=DNS=${dns_servers}

        ## Update kernel args for debug messages
        yq -i /etc/warewulf/nodes.conf --from-file /dev/stdin <<EOF
          .nodeprofiles.default.kernel.args -= ["quiet"]
        EOF

        ## Create a test user
        useradd --create-home --shell=/bin/bash --user-group auser

        touch /root/head.stamp

      args:
        creates: /root/head.stamp

- name: Setup compute nodes
  hosts: head
  become: true
  tasks:
    - name: Generate compute node image
      ansible.builtin.shell: |-
        set -e -x

        sms_ip=10.5.0.8
        arch=$(uname -m)

        ## Configure image
        wwctl image exec rocky-10 /bin/bash << EXEC
        ## --------------------------------------------------------------------
        set -e -x
        export LANG=C.UTF-8

        dnf install -y dnf-plugins-core
        dnf config-manager --set-enabled crb
        dnf install -y epel-release

        dnf upgrade -y
        dnf install -y kernel passwd

        passwd -d root # allow serial console login

        {% if ohpc_factory | default(false) %}
        ## FIXME: verify that the OpenHPC Factory packages are not signed
        #dnf config-manager --add-repo http://obs.openhpc.community:82/OpenHPC4:/4.0:/Factory/EL_10/
        cat > /etc/yum.repos.d/openhpc.repo <<EOF
        [openhpc-factory]
        name=OpenHPC Factory Repository
        baseurl=http://obs.openhpc.community:82/OpenHPC4:/4.0:/Factory/EL_10/
        enabled=1
        gpgcheck=0
        EOF
        {% endif %}
        ## FIXME: not yet released
        # dnf install -y http://repos.openhpc.community/OpenHPC/4/EL_10/${arch}/ohpc-release-4-0.el10.${arch}.rpm

        # enabled services go here
        install -dvp /etc/systemd/system-preset

        dnf install -y ohpc-base-compute hwloc-ohpc
        dnf install -y ohpc-slurm-client

        echo "enable munge.service" > /etc/systemd/system-preset/90-munge.preset

        dnf install -y chrony
        echo "server ${sms_ip} iburst" >> /etc/chrony.conf

        echo SLURMD_OPTIONS="--conf-server ${sms_ip}" > /etc/sysconfig/slurmd
        echo "enable slurmd.service" > /etc/systemd/system-preset/90-slurmd.preset

        dnf install -y lmod-ohpc

        dnf clean all
        ## --------------------------------------------------------------------
        EXEC

        ## Create node munge overlay
        wwctl overlay create munge
        wwctl overlay mkdir munge --mode 0700 /etc/munge
        wwctl overlay import munge /etc/munge/munge.key
        wwctl overlay chown munge /etc/munge/munge.key $(id -u munge) $(id -g munge)
        wwctl overlay chown munge /etc/munge $(id -u munge) $(id -g munge)

        ## Add munge to nodes
        wwctl profile set --yes nodes --system-overlays munge --runtime-overlays syncuser

        ## Set as default image and set kernel args
        wwctl profile set --yes nodes --image rocky-10
        wwctl profile set --yes nodes --kernelargs='"console=ttyS0,115200",systemd.log_color=0,crashkernel=no,vga=791,rd.shell'

        touch /root/configure-node-image.stamp

      args:
        creates: /root/configure-node-image.stamp
