- name: Configure Warewulf Head Node
  hosts: head
  become: true
  tasks:

    - name: Enable CRB
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    - name: Enable EPEL
      ansible.builtin.dnf:
        allowerasing: true
        name:
          - epel-release

    - name: Update EPEL
      ansible.builtin.dnf:
        name:
          - epel-release
        state: latest
        update_only: true

    - name: Add Fedora 40 updates for yq (disabled)
      ansible.builtin.yum_repository:
        name: fedora-updates-40
        description: Fedora 40
        baseurl: https://download.fedoraproject.org/pub/fedora/linux/updates/40/Everything/$basearch/
        enabled: false
        gpgcheck: false

    - name: Install yq from Fedora 40 repository
      ansible.builtin.dnf:
        name: yq
        state: present
        enablerepo: fedora-updates-40

    - name: Install base packages
      ansible.builtin.dnf:
        allowerasing: true
        name:
          - ca-certificates
          - git
          - curl
          - jq
          - bash-completion
          - initscripts-service # AlmaLinux

    - name: Install packages
      ansible.builtin.dnf:
        name:
          - openssh
          - chrony
          - dnsmasq
          - policycoreutils-python-utils
          - ipxe-bootimgs-x86
          - ipxe-bootimgs-aarch64

    - name: Install Warewulf build dependencies
      ansible.builtin.dnf:
        name:
          - unzip
          - golang
      when:
        - warewulf_build

    - name: Add head localnet to chrony
      ansible.builtin.lineinfile:
        path: "{{ '/etc/chrony.conf' }}"
        line: "allow 10.5.0.0/16"
      register: chrony_conf

    - name: Restart chrony
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: chronyd.service
        enabled: true
        state: restarted
      when: chrony_conf.changed

- name: Install Warewulf
  hosts: head
  become: true
  tasks:

    - name: Install Warewulf from package
      ansible.builtin.dnf:
        name:
          - "https://github.com/{{ warewulf_account }}/warewulf/releases/download/\
            v{{ warewulf_rpm_version }}/warewulf-{{ warewulf_rpm_version }}-1.el9.{{ ansible_architecture }}.rpm"
        disable_gpg_check: true
      when:
        - not warewulf_build

    - name: Build Warewulf from source
      # noqa: command-instead-of-module
      environment:
        WWVERSION: "{{ warewulf_rpm_version }}"
        WWACCOUNT: "{{ warewulf_rpm_account }}"
      ansible.builtin.shell: |-
        set -e -x

        ## Config
        : ${WWACCOUNT:=warewulf}
        : ${WWVERSION:=main}

        ## Clone Warewulf
        rm -rf /usr/src/warewulf
        git clone --no-checkout https://github.com/${WWACCOUNT}/warewulf.git /usr/src/warewulf
        cd /usr/src/warewulf
        git checkout -B $(basename "${WWVERSION}") ${WWVERSION}

        ## Build Warewulf
        make clean
        make config \
          PREFIX=/usr \
          SYSCONFDIR=/etc \
          LOCALSTATEDIR=/var/lib \
          SHAREDSTATEDIR=/var/lib \
          TFTPDIR=/var/lib/tftpboot
        make build
        make install
        wwctl completion bash > /etc/bash_completion.d/wwctl

      args:
        creates: /usr/bin/wwctl
      when:
        - warewulf_build

    - name: Setup the head node
      # noqa: command-instead-of-module
      # noqa: risky-shell-pipe # false positive, no pipes used
      ansible.builtin.shell: |-
        set -e -x

        ## Config
        sms_name=$(hostname)
        sms_ip=10.5.0.8
        internal_network=10.5.0.0
        internal_netmask=255.255.0.0
        ipv4_gateway=10.5.0.1
        dns_servers=8.8.8.8
        dhcp_start=10.5.1.1
        dhcp_end=10.5.1.254
        sms_eth_internal=eth1

        ## Configure warewulf.conf
        yq -i /etc/warewulf/warewulf.conf --from-file /dev/stdin <<EOF
          .ipaddr = "${sms_ip}" |
          .netmask = "${internal_netmask}" |
          .network = "${internal_network}" |
          .dhcp["template"] = "static" |
          .dhcp["range start"] = "${dhcp_start}" |
          .dhcp["range end"] = "${dhcp_end}" |
          .dhcp["systemd name"] = "dnsmasq" |
          .tftp["systemd name"] = "dnsmasq" |
          .ssh["key types"] -= ["dsa"]
        EOF

        ## Configure nodes.conf)
        yq -i /etc/warewulf/nodes.conf --from-file /dev/stdin <<EOF
          .nodeprofiles.default.kernel.args -= ["quiet"]
        EOF

        ## Configure profiles and overlays
        wwctl profile delete --yes nodes || /bin/true
        wwctl profile add nodes --profile=default --comment="Nodes profile"

        ## Configure dnsmasq
        echo "interface=${sms_eth_internal}" > /etc/dnsmasq.d/ww4-interface.conf

        ## Start Warewulf
        systemctl enable --now warewulfd
        wwctl configure --all
        bash /etc/profile.d/ssh_setup.sh # configure ssh
        systemctl status warewulfd

        ## FIXME: fix selinux attributes for /var/lib/tftpboot
        semanage fcontext -a -t public_content_t "/var/lib/tftpboot(/.*)?"
        restorecon -R -v /var/lib/tftpboot

        ## Configure warewulf nodes profile for network
        wwctl profile set --yes nodes --netname=default --netmask=${internal_netmask} --gateway=${ipv4_gateway} --nettagadd=DNS=${dns_servers}

        ## Create a test user
        useradd --create-home --shell=/bin/bash --user-group test

      args:
        creates: /home/test
