- name: Configure Warewulf Head Node
  hosts: head
  become: true
  tasks:

    - name: Enable CRB
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    - name: Enable EPEL
      ansible.builtin.dnf:
        allowerasing: true
        name:
          - epel-release

    - name: Update EPEL
      ansible.builtin.dnf:
        name:
          - epel-release
        state: latest
        update_only: true

    - name: Add Fedora 40 updates for yq (disabled)
      ansible.builtin.yum_repository:
        name: fedora-updates-40
        description: Fedora 40
        baseurl: https://download.fedoraproject.org/pub/fedora/linux/updates/40/Everything/$basearch/
        enabled: false
        gpgcheck: false

    - name: Install yq from Fedora 40 repository
      ansible.builtin.dnf:
        name: yq
        state: present
        enablerepo: fedora-updates-40

    - name: Install base packages
      ansible.builtin.dnf:
        allowerasing: true
        name:
          - ca-certificates
          - git
          - curl
          - jq
          - bash-completion
          # - initscripts-service # AlmaLinux

    - name: Install packages
      ansible.builtin.dnf:
        name:
          - chrony
          # - dhcp-server
          # - tftp-server
          - ipxe-bootimgs-x86
          - ipxe-bootimgs-aarch64
          # - slurm-slurmd
          # - slurm-slurmctld

    - name: Install Warewulf build dependencies
      ansible.builtin.dnf:
        name:
          - unzip
          - golang
      when:
        - warewulf_build

    - name: Add head localnet to chrony
      ansible.builtin.lineinfile:
        path: "{{ '/etc/chrony.conf' }}"
        line: "allow 10.5.0.0/16"
      register: chrony_conf

    - name: Restart chrony
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: chronyd.service
        enabled: true
        state: restarted
      when: chrony_conf.changed
