- name: Configure Warewulf Head Node
  hosts: head
  become: true
  tasks:

    - name: Install base packages
      ansible.builtin.apt:
        name:
          - ca-certificates
          - git
          - curl
          - jq
          - yq # python yq package
          - bash-completion

    - name: Install cluster packages
      ansible.builtin.apt:
        name:
          - chrony
          - dnsmasq
          - ipxe
          - nfs-kernel-server
          - slurmd
          - slurmctld
          - openmpi-bin

    - name: Install Warewulf build dependencies
      ansible.builtin.apt:
        name:
          - unzip
          - make
          - golang
          - libgpgme-dev
      when:
        - warewulf_build

    - name: Add head localnet to chrony
      ansible.builtin.lineinfile:
        path: "{{ '/etc/chrony/chrony.conf' }}"
        line: "allow 10.5.0.0/16"
      register: chrony_conf

    - name: Restart chrony
      # noqa: no-handler
      ansible.builtin.systemd_service:
        name: chronyd.service
        enabled: true
        state: restarted
      when: chrony_conf.changed

    - name: Build Warewulf from source
      # noqa: command-instead-of-module
      environment:
        WWACCOUNT: "{{ warewulf_account }}"
        WWVERSION: "{{ warewulf_build_ref }}"
      ansible.builtin.shell: |-
        set -e -x

        ## Config
        : ${WWACCOUNT:=warewulf}
        : ${WWVERSION:=main}

        ## Clone Warewulf
        rm -rf /usr/src/warewulf
        git clone --no-checkout https://github.com/${WWACCOUNT}/warewulf.git /usr/src/warewulf
        cd /usr/src/warewulf
        git checkout -B $(basename "${WWVERSION}") ${WWVERSION}

        ## Build Warewulf
        make clean
        make config \
          PREFIX=/usr \
          SYSCONFDIR=/etc \
          LOCALSTATEDIR=/var/lib \
          SHAREDSTATEDIR=/var/lib \
          TFTPDIR=/var/lib/tftpboot
        make build
        make install
        wwctl completion bash > /etc/bash_completion.d/wwctl

      args:
        creates: /usr/bin/wwctl
      when:
        - warewulf_build

    - name: Setup the head node
      # noqa: command-instead-of-module
      # noqa: risky-shell-pipe # false positive, no pipes used
      ansible.builtin.shell: |-
        set -e -x

        ## Config
        sms_name=$(hostname)
        sms_ip=10.5.0.8
        internal_network=10.5.0.0
        internal_netmask=255.255.0.0
        ipv4_gateway=10.5.0.1
        dns_servers=8.8.8.8
        dhcp_start=10.5.1.1
        dhcp_end=10.5.1.254

        ## Export variables for yq env
        export sms_ip internal_netmask internal_network dhcp_start dhcp_end

        ## Configure warewulf.conf
        yq -iY '.ipaddr = env.sms_ip' /etc/warewulf/warewulf.conf
        yq -iY '.netmask = env.internal_netmask' /etc/warewulf/warewulf.conf
        yq -iY '.network = env.internal_network' /etc/warewulf/warewulf.conf
        yq -iY '.dhcp."range start" = env.dhcp_start' /etc/warewulf/warewulf.conf
        yq -iY '.dhcp."range end" = env.dhcp_end' /etc/warewulf/warewulf.conf
        yq -iY '.dhcp."systemd name" = "dnsmasq"' /etc/warewulf/warewulf.conf
        yq -iY '.tftp."systemd name" = "dnsmasq"' /etc/warewulf/warewulf.conf
        yq -iY 'del(.ssh."key types"[] | select(. == "dsa"))' /etc/warewulf/warewulf.conf

        ## Configure nodes.conf
        yq -iY 'del(.nodeprofiles.default.kernel.args[] | select(. == "quiet"))' /etc/warewulf/nodes.conf

        ## Debian/Ubuntu changes
        yq -iY '.paths.ipxesource = "/usr/lib/ipxe"' /etc/warewulf/warewulf.conf
        yq -iY '.tftp.ipxe."00:0B" = "ipxe-arm64.efi"' /etc/warewulf/warewulf.conf
        yq -iY '.tftp.ipxe."00:07" = "ipxe-amd64.efi"' /etc/warewulf/warewulf.conf
        yq -iY '.tftp.ipxe."00:09" = "ipxe-amd64.efi"' /etc/warewulf/warewulf.conf

        ## Configure profiles and overlays
        wwctl profile delete --yes nodes || /bin/true
        wwctl profile add nodes --profile=default --comment="Nodes profile"

        ## Configure dnsmasq
        sms_eth_internal=$(ip -j addr show to ${internal_network}/${internal_netmask} | jq -r '.[].ifname')
        echo "interface=${sms_eth_internal}" > /etc/dnsmasq.d/ww4-interface.conf
        echo "port=0" > /etc/dnsmasq.d/ww4-disable-dns.conf

        ## Start Warewulf
        systemctl enable --now warewulfd
        wwctl configure --all
        bash /etc/profile.d/ssh_setup.sh # configure ssh
        systemctl status warewulfd

        ## Configure warewulf nodes profile for network
        wwctl profile set --yes nodes --netname=default --netmask=${internal_netmask} --gateway=${ipv4_gateway} --nettagadd=DNS=${dns_servers}

        ## Munge
        if [ ! -r /etc/munge/munge.key ] ; then
          create-munge-key
        fi
        wwctl overlay delete --force munge || /bin/true
        wwctl overlay create munge
        wwctl overlay mkdir munge --mode=0700 /etc/munge
        wwctl overlay import munge /etc/munge/munge.key
        wwctl overlay chown munge /etc/munge/munge.key $(id -u munge) $(id -g munge)
        wwctl overlay chown munge /etc/munge $(id -u munge) $(id -g munge)

        ## Slurm
        if [ ! -r /etc/slurm/slurm.conf ] ; then
          cp -v /usr/share/doc/slurmctld/examples/slurm.conf.simple /etc/slurm/slurm.conf
        fi
        sed -i "s/^SlurmctldHost=.*/SlurmctldHost=${sms_name}/" /etc/slurm/slurm.conf
        grep '^SlurmctldHost=' /etc/slurm/slurm.conf

        sed -i 's/^NodeName=.*$/NodeName=c[1-4] State=UNKNOWN/' /etc/slurm/slurm.conf
        grep '^NodeName' /etc/slurm/slurm.conf

        sed -i 's/^PartitionName=.*$/PartitionName=normal Nodes=c[1-4] Default=YES/' /etc/slurm/slurm.conf
        grep '^PartitionName' /etc/slurm/slurm.conf

        grep 'SlurmctldParameters=' /etc/slurm/slurm.conf || echo 'SlurmctldParameters=enable_configless' >> /etc/slurm/slurm.conf
        grep 'SlurmctldParameters=' /etc/slurm/slurm.conf

        ## Configure warewulf nodes profile for network
        wwctl profile set --yes nodes --netname=default --netmask=${internal_netmask} --gateway=${ipv4_gateway} --nettagadd=DNS=${dns_servers}

        ## Add new overlays to nodes profile
        wwctl profile set --yes nodes --system-overlays=munge,sfdisk,mkfs

        ## Start slurm
        systemctl enable --now munge
        systemctl status munge

        systemctl enable --now slurmctld
        systemctl status slurmctld

        ## Create a test user
        useradd --create-home --shell=/bin/bash --user-group test

      args:
        creates: /var/run/slurm/slurmctld.pid
